go 1.19

use (
	./cmd/run
	./cmd/testmat
	./cmd/testppm
	./cmd/testtuple
	./geometry/ray
	./geometry/sphere
	./image/canvas
	./image/color
	./image/ppm
	./math/matrix
	./math/transform
	./math/tuple
	./math/utils
)
